# build
dist/
.astro/

# deps
node_modules/
.pnpm-store/

# env — KHONG BAO GIO commit file nay
.env
.env.*
!.env.example

# he dieu hanh / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# vercel
.vercel/

# log
*.log
npm-debug.log*
pnpm-debug.log*
